* {
  box-sizing: border-box;
}
body {
  background-image: url(https://cdn1.vectorstock.com/i/1000x1000/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 50%;
  display: flex;
  padding: 10px;
  font-size: 16px;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}
